requests>=2.34.2
python-dotenv>=1.0.0
pyyaml>=6.0
lxml>=6.1.1
tqdm>=4.68.3
PyMuPDF>=1.27.2.3
matplotlib>=3.11.0
numpy>=2.5.0
scipy>=1.18.0
beautifulsoup4>=4.15.0
feedparser>=6.0.0
graphviz>=0.20.0
pytest>=9.1.1
